.mainCheckOut{
    height: 84.7vh;
    display: flex;
    align-items: center;
}

.checkoutContainer,
.thankYouContainer {
    width: 50%;
    padding: 2.5rem;
    background-color: #ffffff;
    box-shadow: 7px 7px 7px 7px orange;
    margin: 2rem auto;
    border-radius: .6rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.label,
.detailCheckOut {
    text-align: center;
    color: blue;
    font-size: 1.7rem;
}

.label:first-child {
    margin-bottom: 1rem;
}

.formInput {
    background-color: rgba(250, 200, 90, 0.496);
    color: var(--white);
    border: 2px solid var(--white);
    padding: 1.5rem;
    width: 40%;
    border-radius: .6rem;
    transition: all .3s;
    text-align: center;
}

.formInput:focus {
    border: 2px solid var(--main-color);
    outline: none;
}

.formInput::placeholder {
    color: rgb(140, 170, 203);
    text-align: center;
    font-size: 25px;
}

.title {
    color: blue;
    text-align: center;
    margin-bottom: 1rem;
}

.thankYouContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: blue;
    text-align: center;
    gap: 2rem;
    background-color: var(--black);
}

.buttonForm,
.buttonThankYou {
    background-color: orange;
    font-size: 1.8rem;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: .6rem;
    font-family: 'Antonio', sans-serif;
    margin-top: 2rem;
    width: 40%;
    transition: background-color .3s;
    color: white;

}

.buttonForm:hover,
.buttonThankYou:hover {
    background-color: transparent;
    color: orange;
    border: solid 2px orange;
}

.titleThankYou {
    font-size: 3rem;
}

.subtitleThankYou {
    font-size: 2.2rem;
}

.checkIcon {
    color: var(--main-color);
    font-size: 6rem;
}

@media (max-width: 1000px) {

    .checkoutContainer,
    .thankYouContainer,
    .formInput,
    .buttonForm,
    .buttonThankYou {
        width: 70%;
    }
}

@media (max-width: 768px) {

    .checkoutContainer,
    .thankYouContainer,
    .formInput,
    .buttonForm,
    .buttonThankYou {
        width: 90%;

    }
}